body{
  background-color: #f4f7f6;
}

/*a:link {*/
/*  text-decoration: none;*/
/*  color: blue;*/
/*}*/

a:link, a:visited {
  color: black;
}
a:hover {
  color: #05a9d4;
}

/* 主体宽度 */
.w {width: 1050px;margin: 0 auto;min-width:1050px;}
/* title division */
#titleDiv {
  width: 100%;
  /*height: 50px;*/
  position: relative;
}

#titleDiv h1 {
  font-family: 'Noto Serif', 'Titillium Web', 'apercu', "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 35px;
  /*color: #e38b5a;*/
}

/* navigator division */
/*#navigatorDiv {*/
/*  position: relative;*/
/*}*/


#navigatorDiv ul {
  min-width:1050px;
  list-style-type: none;
  margin: 8px 0;
  padding: 0;
  overflow: hidden;
  /*background-color: lightslategray;*/
  background-color: #66A4AD;
  /*position: relative;*/
}

#navigatorDiv h1 {
  margin: 8px 0;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 16px;
  font-size: 20px;
}

#navigatorDiv li {
  float: left;
}

#navigatorDiv li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 20px;
}

#navigatorDiv li a:hover:not(.active) {
  /*background-color: #05a9d4;*/
  /*background-color:#49c3b6*/
  background-color:#3f6469
}

#navigatorDiv .navigatorBar {
  /*background-color: #4CAF50;*/
  /*background-color: #49c4b6;*/
  border-left: 1px solid white;
  /*background-color: #66A4AD;*/
  /*background-color: #e38b5a;*/
}

#navigatorDiv div.menu {
  display: none;
  position: absolute;
  /*background-color: #333;*/
  background-color: #66A4AD;
  width: 12%;
}

#navigatorDiv div.menu a {
  border: 1px solid #bce3cb;
  font-size: 17px;
}

#navigatorDiv div.menu a:hover:not(.active) {
  font-size: 17px;
  background-color: #333;
  /*background-color:#49c3b6;*/
  border: 0.5px solid #bce3cb;
}

#navigatorDiv a.menuLink b{
  /*border: 4px solid;*/
  /*border-color:  lightgray transparent transparent transparent;*/
  float: right;
  margin-left: 5px;
  margin-top: 11px;
}

/* content division */
#contentDiv {
  height: auto;
  margin: 1px;
  display: block;
}

#contentDiv td.searchPage {
  width: 50%;
  text-align: center;
}

#contentDiv form {
  border-radius: 5px;
  border: 0.5px solid #e38b5a;
  /*background-color: #f2f2f2;*/
  background-color:#fffff8;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#contentDiv input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  /*border: 1px solid #ccc;*/
  border: 1px solid #bce3cb;
  border-radius: 4px;
  box-sizing: border-box;
}

#sortable li {
  /*border: .8px solid black;*/
  border: .8px solid #bce3cb;
}

#contentDiv table.loginPage input[type=text] {
  width: 60%;
}

#contentDiv table.loginPage input[type=password] {
  width: 60%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  /*border: 1px solid #ccc;*/
  border: 1px solid #bce3cb;
  border-radius: 4px;
  box-sizing: border-box;
}

#contentDiv input[type=submit] {
  width: 100%;
  /*background-color: #4CAF50;*/
  background-color:#49c4b6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#contentDiv input[type=submit]:hover {
  /*background-color: #45a049;*/
  background-color: #329e92
}

#contentDiv .infoPage {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#contentDiv .infoPage td, #contentDiv .infoPage th {
  /*border: 1px solid #ddd;*/
  border: 1px solid #bce3cb;
  padding: 8px;
  /*color: white;*/
}

#contentDiv .infoPage tr {
  /*background-color: #000080;*/
  background-color:#fffff8;
}

#contentDiv .infoPage tr:hover {
  /*background-color: #FF00FF;*/
  background-color: #bce3cb;
}

#contentDiv .infoPage th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /*background-color: #4CAF50;*/
  background-color:#bce3cb;
  /*color: white;*/
}

#contentDiv .infoPage caption {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 30px;
  text-align: center;
  color: #e37b5a;
}

#contentDiv .infoPage col {
  width: 50%;
}

#contentDiv p.error {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 30px;
  text-align: center;
  color: #e37b5a;
}

#contentDiv h2 {
  /*font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
  font-size: 27px;
  padding-left:5px;
  /*text-align: center;*/
  color: #e37b5a;
}

#contentDiv #rollingImage {
  width: 400px;
  height: 280px;
}

/* news page */
#contentDiv .newsItem {
  margin: 20px;
  /*height: 300px;*/
  width: 210px;
}

#contentDiv * {box-sizing: border-box}


/* Style the tab */
#contentDiv .tab {
  float: left;
  border: 1px solid #bce3cb;
  /*#ccc;*/
  background-color: #f1f1f1;
  height: 650px;
  width: 30%;
}


/* Style the buttons inside the tab */
#contentDiv .tab button {
  display: block;
  /*background-color: inherit;*/
  background-color:#fffff8;
  color: black;
  padding: 22px 16px;
  width: 100%;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  border-color:  darkgray transparent transparent transparent;
}

/* Change background color of buttons on hover */
#contentDiv .tab button:hover {
  /*background-color: #ddd;*/
  background-color:#f0f0e9
}

/* Create an active/current "tab button" class */
#contentDiv .tab button.active {
  /*background-color: #ccc;*/
  background-color:#bce3cb;
}

/* Style the tab content */
#contentDiv .tabcontent {
  float: left;
  padding: 5px 22px;
  border: 1px solid #bce3cb;
  width: 68%;
  /*border-left: none;*/
  height: 650px;
  display: none;
  /*background-color: whitesmoke;*/
  background-color:#fffff8;
  margin-left: 10px;
  font-size: 20px;
}

table.univInfo td{
  border-top: 1px solid darkgray;

}

/* Clear floats after the tab */
#contentDiv .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#contentDiv tr.overviewInfo td{
  width: 20%;
  text-align: left;
  padding-left: 10px;
  border-left:  1px solid darkgray;
  border-top: none;
  /*border-bottom: 1px solid darkgray;*/
}


#contentDiv p.intro{
  font-size: 16px;
}
/**/

/* news page */
.newsItem {
  margin: 20px;
  /*height: 300px;*/
  width: 300px;
}

/* footer division */
#footerDiv footer {
  /*background-color: #333;*/
  background: lightgrey;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  min-width:1050px
}

#footerDiv p {
  font-size: 15px;
  /*color: white;*/
  text-align: center;
}

#dialogTab {
  float: right;
}

#dialogTab .ui-icon:hover{
  border-color: red;
}

/* draggable and droppable division */
#dragDropDiv {
  position: relative;
  top: 50px;
}

#draggableObject {
  z-index: 100;
}

#droppbleObject {
  width: 100px;
  height: 100px;
  /*border: 1px solid black;*/
  border: 1px solid #bce3cb;
  z-index: 0;
  background-color: aqua;
}

#footerDiv a {
  font-size: 13px;
  color: gray;
}

.ui-tabs .ui-tabs-nav {

  display: flex;
}
.ui-tabs .ui-tabs-nav li {

  flex: 1;
  display: flex;
  /* If placed in a small width sidebar or something like that disabling nowrap will fix the overflow issue */
  white-space: normal;
}

.ui-tabs .ui-tabs-nav li a {
  flex: 1;
  /* If you want to align tab titles center */
  text-align: center;
}

div#tabs{
  width: 1000px;
}

